<a href="https://colab.research.google.com/github/KoreTane/MKTBank/blob/main/MKTBank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=fa760509d38235a407ee1c4e29ade19d4a0cb58c120cbec5f41fd73efd50f54e
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

# Exploratory Analysis

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import col, count, when
from pyspark.sql import functions as F

spark = SparkSession.builder.appName("BankMarketing").getOrCreate()
df = spark.read.csv("bank.csv", header=True, inferSchema=True)
# Criar um ID único para cada cliente
df = df.withColumn("client_id", monotonically_increasing_id())

colunas = ['client_id'] + [col for col in df.columns if col != 'client_id']
df = df.select(colunas)

df.show(50)

df.printSchema()

df.summary().show()

+---------+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|client_id|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---------+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|        0| 59|      admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
|        1| 56|      admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
|        2| 41|  technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
|        3| 55|    services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
|        4| 54|      admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
|        5| 42|  management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
|        6| 56|  management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
|        7| 60|     retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
|        8| 37|  technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
|        9| 28|    services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
|       10| 38|      admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
|       11| 30| blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
|       12| 29|  management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
|       13| 46| blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
|       14| 31|  technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
|       15| 35|  management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
|       16| 32| blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
|       17| 49|    services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
|       18| 41|      admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
|       19| 49|      admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
|       20| 28|      admin.|divorced|secondary|     no|    785|    yes|  no|unknown|  8|  may|     442|       2|   -1|       0| unknown|    yes|
|       21| 43|  management|  single| tertiary|     no|   2067|    yes|  no|unknown|  8|  may|     756|       1|   -1|       0| unknown|    yes|
|       22| 43|  management|divorced| tertiary|     no|    388|    yes|  no|unknown|  8|  may|    2087|       2|   -1|       0| unknown|    yes|
|       23| 43| blue-collar| married|  primary|     no|   -192|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
|       24| 37|  unemployed|  single|secondary|     no|    381|    yes|  no|unknown|  8|  may|     985|       2|   -1|       0| unknown|    yes|
|       25| 35| blue-collar|  single|secondary|     no|     40|    yes|  no|unknown|  9|  may|     617|       4|   -1|       0| unknown|    yes|
|       26| 31|  technician|  single| tertiary|     no|     22|    yes|  no|unknown|  9|  may|     483|       3|   -1|       0| unknown|    yes|
|       27| 43| blue-collar|  single|secondary|     no|      3|    yes|  no|unknown|  9|  may|     929|       3|   -1|       0| unknown|    yes|
|       28| 31|      admin.| married|secondary|     no|    307|    yes|  no|unknown|  9|  may|     538|       1|   -1|       0| unknown|    yes|
|       29| 28| blue-collar|  single|secondary|     no|    759|    yes|  no|unknown|  9|  may|     710|       1|   -1|       0| unknown|    yes|
|       30| 32| blue-collar| married|secondary|    yes|     -1|    yes|  no|unknown|  9|  may|     653|       1|   -1|       0| unknown|    yes|
|       31| 60|  technician| married|  primary|     no|     65|    yes|  no|unknown|  9|  may|    1028|       2|   -1|       0| unknown|    yes|
|       32| 26| blue-collar|  single|secondary|     no|     82|    yes|  no|unknown|  9|  may|     654|       1|   -1|       0| unknown|    yes|
|       33| 40| blue-collar| married|secondary|     no|     10|    yes|  no|unknown|  9|  may|    1692|       2|   -1|       0| unknown|    yes|
|       34| 33| blue-collar|divorced|  primary|     no|    390|    yes|  no|unknown|  9|  may|     665|       2|   -1|       0| unknown|    yes|
|       35| 32|  management|  single| tertiary|     no|    311|     no|  no|unknown| 12|  may|     757|       2|   -1|       0| unknown|    yes|
|       36| 35| blue-collar| married|  primary|     no|    414|     no|  no|unknown| 13|  may|     504|       4|   -1|       0| unknown|    yes|
|       37| 33|  management|divorced|secondary|     no|      5|    yes|  no|unknown| 13|  may|    1346|       1|   -1|       0| unknown|    yes|
|       38| 38|  management| married| tertiary|     no|    119|    yes|  no|unknown| 13|  may|     568|       4|   -1|       0| unknown|    yes|
|       39| 23|entrepreneur|  single|  primary|     no|      4|    yes|  no|unknown| 13|  may|     395|       2|   -1|       0| unknown|    yes|
|       40| 60| blue-collar| married|  primary|     no|   1262|    yes| yes|unknown| 13|  may|    1015|       1|   -1|       0| unknown|    yes|
|       41| 48|  management| married| tertiary|     no|   1949|    yes|  no|unknown| 13|  may|     683|       2|   -1|       0| unknown|    yes|
|       42| 45|entrepreneur|divorced| tertiary|     no|   -395|    yes|  no|unknown| 13|  may|     470|       1|   -1|       0| unknown|    yes|
|       43| 36| blue-collar| married|secondary|     no|   1165|    yes|  no|unknown| 13|  may|    1001|       4|   -1|       0| unknown|    yes|
|       44| 52|  management| married|  unknown|     no|   2240|    yes|  no|unknown| 13|  may|     845|       1|   -1|       0| unknown|    yes|
|       45| 35| blue-collar|divorced|  primary|     no|    300|    yes|  no|unknown| 13|  may|     945|       2|   -1|       0| unknown|    yes|
|       46| 43|  technician| married|secondary|     no|   3285|    yes|  no|unknown| 13|  may|    1721|       2|   -1|       0| unknown|    yes|
|       47| 52|   housemaid| married|secondary|     no|   3923|    yes|  no|unknown| 14|  may|     942|       3|   -1|       0| unknown|    yes|
|       48| 53|  technician|divorced|  primary|     no|   1443|    yes|  no|unknown| 14|  may|     476|       1|   -1|       0| unknown|    yes|
|       49| 48| blue-collar|divorced|  primary|     no|     24|    yes|  no|unknown| 14|  may|     832|       1|   -1|       0| unknown|    yes|
+---------+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 50 rows

root
 |-- client_id: long (nullable = false)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

+-------+------------------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|summary|         client_id|               age|    job| marital|education|default|           balance|housing| loan| contact|               day|month|          duration|          campaign|             pdays|          previous|poutcome|deposit|
+-------+------------------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|  count|             11162|             11162|  11162|   11162|    11162|  11162|             11162|  11162|11162|   11162|             11162|11162|             11162|             11162|             11162|             11162|   11162|  11162|
|   mean|            5580.5|41.231947679627304|   NULL|    NULL|     NULL|   NULL|1528.5385235620856|   NULL| NULL|    NULL|15.658036194230425| NULL|371.99381831213043| 2.508421429851281| 51.33040673714388|0.8325568894463358|    NULL|   NULL|
| stddev|3222.3361866819546|11.913369192215518|   NULL|    NULL|     NULL|   NULL| 3225.413325946149|   NULL| NULL|    NULL| 8.420739541006462| NULL|347.12838571630687|2.7220771816614824|108.75828197197717| 2.292007218670508|    NULL|   NULL|
|    min|                 0|                18| admin.|divorced|  primary|     no|             -6847|     no|   no|cellular|                 1|  apr|                 2|                 1|                -1|                 0| failure|     no|
|    25%|              2790|                32|   NULL|    NULL|     NULL|   NULL|               122|   NULL| NULL|    NULL|                 8| NULL|               138|                 1|                -1|                 0|    NULL|   NULL|
|    50%|              5579|                39|   NULL|    NULL|     NULL|   NULL|               550|   NULL| NULL|    NULL|                15| NULL|               255|                 2|                -1|                 0|    NULL|   NULL|
|    75%|              8370|                49|   NULL|    NULL|     NULL|   NULL|              1708|   NULL| NULL|    NULL|                22| NULL|               496|                 3|                20|                 1|    NULL|   NULL|
|    max|             11161|                95|unknown|  single|  unknown|    yes|             81204|    yes|  yes| unknown|                31|  sep|              3881|                63|               854|                58| unknown|    yes|
+-------+------------------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+

In [7]:
# Criar um ID único para cada cliente
df = df.withColumn("client_id", monotonically_increasing_id())

# Mostrar as primeiras linhas do DataFrame com o novo ID
df.show(5)

+---------+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|client_id|age|       job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---------+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|        0| 59|    admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
|        1| 56|    admin.|married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
|        2| 41|technician|married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
|        3| 55|  services|married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
|        4| 54|    admin.|married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
+---------+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 5 rows

In [8]:
# ContaR o número total de registros
total_count = df.count()

# Contar o número de registros distintos
distinct_count = df.distinct().count()

# Verificar se há duplicatas
if total_count > distinct_count:
    print("Existem dados duplicados no DataFrame.")
else:
    print("Não existem dados duplicados no DataFrame.")

Não existem dados duplicados no DataFrame.

In [12]:
# Análises
# 1. Contar quantas IDs têm mais de 80 anos
age_above_80 = df.filter(df.age > 80).count()

# 2. Contar IDs agrupados por job
job_count = df.groupBy("job").count().sort(F.desc("count"))

# 3. Contar quantas IDs estão com balance negativo e positivo
balance_count = df.groupBy(F.when(df.balance < 0, "Negativo").otherwise("Positivo").alias("Balance")).count()

# 4. Contar quantos IDs possuem housing e quantos não
housing_count = df.groupBy("housing").count()

# 5. Contar quantos IDs possuem loan e quantos não
loan_count = df.groupBy("loan").count()

# 6. Contagem do número de IDs agrupada por contact
contact_count = df.groupBy("contact").count()

# Exibindo os resultados em uma matriz

print("Análise de Clientes:")
print(f"\n1. IDs com mais de 80 anos: {age_above_80}")

print("\n2. Contagem de IDs agrupados por Job:")
job_count.show()

print("\n3. Contagem de IDs com Balance Negativo e Positivo:")
balance_count.show()

print("\n4. Contagem de IDs com Housing:")
housing_count.show()

print("\n5. Contagem de IDs com Loan:")
loan_count.show()

print("\n6. Contagem de IDs agrupados por Contact:")
contact_count.show()

Análise de Clientes:

1. IDs com mais de 80 anos: 55

2. Contagem de IDs agrupados por Job:
+-------------+-----+
|          job|count|
+-------------+-----+
|   management| 2566|
|  blue-collar| 1944|
|   technician| 1823|
|       admin.| 1334|
|     services|  923|
|      retired|  778|
|self-employed|  405|
|      student|  360|
|   unemployed|  357|
| entrepreneur|  328|
|    housemaid|  274|
|      unknown|   70|
+-------------+-----+


3. Contagem de IDs com Balance Negativo e Positivo:
+--------+-----+
| Balance|count|
+--------+-----+
|Negativo|  688|
|Positivo|10474|
+--------+-----+


4. Contagem de IDs com Housing:
+-------+-----+
|housing|count|
+-------+-----+
|     no| 5881|
|    yes| 5281|
+-------+-----+


5. Contagem de IDs com Loan:
+----+-----+
|loan|count|
+----+-----+
|  no| 9702|
| yes| 1460|
+----+-----+


6. Contagem de IDs agrupados por Contact:
+---------+-----+
|  contact|count|
+---------+-----+
|  unknown| 2346|
| cellular| 8042|
|telephone|  774|
+---------+-----+