<a href="https://colab.research.google.com/github/KoreTane/MKTBank/blob/main/MKTBank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install pyspark

# Exploratory Analysis

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import col, count, when
from pyspark.sql import functions as F
import matplotlib.pyplot as plt

spark = SparkSession.builder.appName("BankMarketing").getOrCreate()
df = spark.read.csv("bank.csv", header=True, inferSchema=True)
# Criar um ID único para cada cliente
df = df.withColumn("client_id", monotonically_increasing_id())

colunas = ['client_id'] + [col for col in df.columns if col != 'client_id']
df = df.select(colunas)

df.show(50)

df.printSchema()

df.summary().show()

+---------+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|client_id|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---------+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|        0| 59|      admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
|        1| 56|      admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
|        2| 41|  technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
|        3| 55|    services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
|        4| 54|      admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
|        5| 42|  management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
|        6| 56|  management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
|        7| 60|     retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
|        8| 37|  technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
|        9| 28|    services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
|       10| 38|      admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
|       11| 30| blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
|       12| 29|  management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
|       13| 46| blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
|       14| 31|  technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
|       15| 35|  management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
|       16| 32| blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
|       17| 49|    services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
|       18| 41|      admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
|       19| 49|      admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
|       20| 28|      admin.|divorced|secondary|     no|    785|    yes|  no|unknown|  8|  may|     442|       2|   -1|       0| unknown|    yes|
|       21| 43|  management|  single| tertiary|     no|   2067|    yes|  no|unknown|  8|  may|     756|       1|   -1|       0| unknown|    yes|
|       22| 43|  management|divorced| tertiary|     no|    388|    yes|  no|unknown|  8|  may|    2087|       2|   -1|       0| unknown|    yes|
|       23| 43| blue-collar| married|  primary|     no|   -192|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
|       24| 37|  unemployed|  single|secondary|     no|    381|    yes|  no|unknown|  8|  may|     985|       2|   -1|       0| unknown|    yes|
|       25| 35| blue-collar|  single|secondary|     no|     40|    yes|  no|unknown|  9|  may|     617|       4|   -1|       0| unknown|    yes|
|       26| 31|  technician|  single| tertiary|     no|     22|    yes|  no|unknown|  9|  may|     483|       3|   -1|       0| unknown|    yes|
|       27| 43| blue-collar|  single|secondary|     no|      3|    yes|  no|unknown|  9|  may|     929|       3|   -1|       0| unknown|    yes|
|       28| 31|      admin.| married|secondary|     no|    307|    yes|  no|unknown|  9|  may|     538|       1|   -1|       0| unknown|    yes|
|       29| 28| blue-collar|  single|secondary|     no|    759|    yes|  no|unknown|  9|  may|     710|       1|   -1|       0| unknown|    yes|
|       30| 32| blue-collar| married|secondary|    yes|     -1|    yes|  no|unknown|  9|  may|     653|       1|   -1|       0| unknown|    yes|
|       31| 60|  technician| married|  primary|     no|     65|    yes|  no|unknown|  9|  may|    1028|       2|   -1|       0| unknown|    yes|
|       32| 26| blue-collar|  single|secondary|     no|     82|    yes|  no|unknown|  9|  may|     654|       1|   -1|       0| unknown|    yes|
|       33| 40| blue-collar| married|secondary|     no|     10|    yes|  no|unknown|  9|  may|    1692|       2|   -1|       0| unknown|    yes|
|       34| 33| blue-collar|divorced|  primary|     no|    390|    yes|  no|unknown|  9|  may|     665|       2|   -1|       0| unknown|    yes|
|       35| 32|  management|  single| tertiary|     no|    311|     no|  no|unknown| 12|  may|     757|       2|   -1|       0| unknown|    yes|
|       36| 35| blue-collar| married|  primary|     no|    414|     no|  no|unknown| 13|  may|     504|       4|   -1|       0| unknown|    yes|
|       37| 33|  management|divorced|secondary|     no|      5|    yes|  no|unknown| 13|  may|    1346|       1|   -1|       0| unknown|    yes|
|       38| 38|  management| married| tertiary|     no|    119|    yes|  no|unknown| 13|  may|     568|       4|   -1|       0| unknown|    yes|
|       39| 23|entrepreneur|  single|  primary|     no|      4|    yes|  no|unknown| 13|  may|     395|       2|   -1|       0| unknown|    yes|
|       40| 60| blue-collar| married|  primary|     no|   1262|    yes| yes|unknown| 13|  may|    1015|       1|   -1|       0| unknown|    yes|
|       41| 48|  management| married| tertiary|     no|   1949|    yes|  no|unknown| 13|  may|     683|       2|   -1|       0| unknown|    yes|
|       42| 45|entrepreneur|divorced| tertiary|     no|   -395|    yes|  no|unknown| 13|  may|     470|       1|   -1|       0| unknown|    yes|
|       43| 36| blue-collar| married|secondary|     no|   1165|    yes|  no|unknown| 13|  may|    1001|       4|   -1|       0| unknown|    yes|
|       44| 52|  management| married|  unknown|     no|   2240|    yes|  no|unknown| 13|  may|     845|       1|   -1|       0| unknown|    yes|
|       45| 35| blue-collar|divorced|  primary|     no|    300|    yes|  no|unknown| 13|  may|     945|       2|   -1|       0| unknown|    yes|
|       46| 43|  technician| married|secondary|     no|   3285|    yes|  no|unknown| 13|  may|    1721|       2|   -1|       0| unknown|    yes|
|       47| 52|   housemaid| married|secondary|     no|   3923|    yes|  no|unknown| 14|  may|     942|       3|   -1|       0| unknown|    yes|
|       48| 53|  technician|divorced|  primary|     no|   1443|    yes|  no|unknown| 14|  may|     476|       1|   -1|       0| unknown|    yes|
|       49| 48| blue-collar|divorced|  primary|     no|     24|    yes|  no|unknown| 14|  may|     832|       1|   -1|       0| unknown|    yes|
+---------+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 50 rows

root
 |-- client_id: long (nullable = false)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

+-------+------------------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|summary|         client_id|               age|    job| marital|education|default|           balance|housing| loan| contact|               day|month|          duration|          campaign|             pdays|          previous|poutcome|deposit|
+-------+------------------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|  count|             11162|             11162|  11162|   11162|    11162|  11162|             11162|  11162|11162|   11162|             11162|11162|             11162|             11162|             11162|             11162|   11162|  11162|
|   mean|            5580.5|41.231947679627304|   NULL|    NULL|     NULL|   NULL|1528.5385235620856|   NULL| NULL|    NULL|15.658036194230425| NULL|371.99381831213043| 2.508421429851281| 51.33040673714388|0.8325568894463358|    NULL|   NULL|
| stddev|3222.3361866819546|11.913369192215518|   NULL|    NULL|     NULL|   NULL| 3225.413325946149|   NULL| NULL|    NULL| 8.420739541006462| NULL|347.12838571630687|2.7220771816614824|108.75828197197717| 2.292007218670508|    NULL|   NULL|
|    min|                 0|                18| admin.|divorced|  primary|     no|             -6847|     no|   no|cellular|                 1|  apr|                 2|                 1|                -1|                 0| failure|     no|
|    25%|              2790|                32|   NULL|    NULL|     NULL|   NULL|               122|   NULL| NULL|    NULL|                 8| NULL|               138|                 1|                -1|                 0|    NULL|   NULL|
|    50%|              5579|                39|   NULL|    NULL|     NULL|   NULL|               550|   NULL| NULL|    NULL|                15| NULL|               255|                 2|                -1|                 0|    NULL|   NULL|
|    75%|              8370|                49|   NULL|    NULL|     NULL|   NULL|              1708|   NULL| NULL|    NULL|                22| NULL|               496|                 3|                20|                 1|    NULL|   NULL|
|    max|             11161|                95|unknown|  single|  unknown|    yes|             81204|    yes|  yes| unknown|                31|  sep|              3881|                63|               854|                58| unknown|    yes|
+-------+------------------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+

In [ ]:
# Criar um ID único para cada cliente
df = df.withColumn("client_id", monotonically_increasing_id())

df.show(5)

+---------+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|client_id|age|       job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---------+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|        0| 59|    admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
|        1| 56|    admin.|married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
|        2| 41|technician|married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
|        3| 55|  services|married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
|        4| 54|    admin.|married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
+---------+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 5 rows

In [ ]:
total_count = df.count()

distinct_count = df.distinct().count()

# Verificar se há duplicatas
if total_count > distinct_count:
    print("Existem dados duplicados no DataFrame.")
else:
    print("Não existem dados duplicados no DataFrame.")

Não existem dados duplicados no DataFrame.

In [ ]:
# Análises Simples
# 1. age: Contar quantas IDs têm mais de 80 anos
age_above_80 = df.filter(df.age > 80).count()

# 2. Contando IDs agrupados por job e calculando a média do balance
job_count = df.groupBy("job") \
               .agg(
                   F.count("*").alias("count"),  # Contagem de IDs
                   F.format_number(F.avg("balance"), 2).alias("average_balance")  # Média do balance formatada
               ) \
               .sort(F.col("count").desc())

# 3. marital: Contar IDs agrupados por estado civil
marital_count = df.groupBy("marital").count().sort(col("count").desc())

# 4. Contando IDs agrupados por nível de escolaridade e calculando a média do balance
education_count = df.groupBy("education") \
                     .agg(
                         F.count("*").alias("count"),  # Contagem de IDs
                         F.format_number(F.avg("balance"), 2).alias("average_balance")  # Média do balance formatada
                     ) \
                     .sort(F.col("count").desc())

# 5. default: Contar IDs com e sem crédito em atraso
default_count = df.groupBy("default").count()

# 6. balance: Contar quantas IDs estão com balance negativo e positivo
balance_count = df.groupBy(F.when(df.balance < 0, "Negativo").otherwise("Positivo").alias("Balance")).count()

# 7. housing: Contar quantos IDs possuem housing e quantos não
housing_count = df.groupBy("housing").count()

# 8. loan: Contar quantos IDs possuem loan e quantos não
loan_count = df.groupBy("loan").count()

# 9. contact: Contagem do número de IDs agrupada por contact
contact_count = df.groupBy("contact").count()

# 10. day: Contar a distribuição de contatos por dia do mês
day_count = df.groupBy("day").count().sort(col("count").desc())

# 11. month: Contar a distribuição de contatos por mês
month_count = df.groupBy("month").count().sort(col("count").desc())

# 12. duration: Contar quantas IDs têm duração de contato acima e abaixo da média
average_duration = df.select(F.avg("duration")).first()[0]
duration_count = df.groupBy(F.when(df.duration < average_duration, "Abaixo da Média").otherwise("Acima da Média").alias("Duração")).count()

# 13. campaign: Distribuição de contatos feitos durante a campanha
campaign_count = df.groupBy("campaign").count()

# 14. pdays: Distribuição do número de dias desde o último contato (999 significa que nunca foi contatado)
pdays_count = df.groupBy(F.when(df.pdays == 999, "Nunca contatado").otherwise(df.pdays)).count()

# 15. previous: Distribuição do número de contatos anteriores
previous_count = df.groupBy("previous").count()

# 16. poutcome: Contar resultados da campanha anterior
poutcome_count = df.groupBy("poutcome").count()

# 17. deposit: Contagem de aceitação da oferta (sim/não)
deposit_count = df.groupBy("deposit").count()

# Exibindo os resultados em uma matriz

print("Análise Completa de Clientes:")

print(f"\n1. IDs com mais de 80 anos: {age_above_80}")

print("\n2. Contagem de IDs agrupados por Job:")
job_count.show()

print("\n3. Contagem de IDs agrupados por Estado Civil:")
marital_count.show()

print("\n4. Contagem de IDs agrupados por Nível de Escolaridade:")
education_count.show()

print("\n5. Contagem de IDs com e sem Crédito em Atraso:")
default_count.show()

print("\n6. Contagem de IDs com Balance Negativo e Positivo:")
balance_count.show()

print("\n7. Contagem de IDs com Housing:")
housing_count.show()

print("\n8. Contagem de IDs com Loan:")
loan_count.show()

print("\n9. Contagem de IDs agrupados por Contact:")
contact_count.show()

print("\n10. Distribuição de contatos por Dia do Mês:")
day_count.show()

print("\n11. Distribuição de contatos por Mês:")
month_count.show()

print("\n12. A média é: 371 segundos. Duração do contato (Abaixo/Acima da Média):")
duration_count.show()

print("\n13. Distribuição de contatos feitos durante a Campanha:")
campaign_count.show()

print("\n14. Distribuição do Número de Dias desde o Último Contato:")
pdays_count.show()

print("\n15. Distribuição do Número de Contatos Anteriores:")
previous_count.show()

print("\n16. Resultados da Campanha Anterior:")
poutcome_count.show()

print("\n17. Aceitação da Oferta (Sim/Não):")
deposit_count.show()

Análise Completa de Clientes:

1. IDs com mais de 80 anos: 46

2. Contagem de IDs agrupados por Job:
+-------------+-----+---------------+
|          job|count|average_balance|
+-------------+-----+---------------+
|   management| 2482|       1,785.90|
|  blue-collar| 1858|       1,201.72|
|   technician| 1771|       1,516.30|
|       admin.| 1294|       1,191.35|
|     services|  882|       1,034.69|
|      retired|  731|       2,464.50|
|self-employed|  394|       1,871.65|
|   unemployed|  350|       1,326.88|
| entrepreneur|  314|       1,652.57|
|      student|  293|       1,538.98|
|    housemaid|  265|       1,372.28|
+-------------+-----+---------------+


3. Contagem de IDs agrupados por Estado Civil:
+--------+-----+
| marital|count|
+--------+-----+
| married| 6041|
|  single| 3351|
|divorced| 1242|
+--------+-----+


4. Contagem de IDs agrupados por Nível de Escolaridade:
+---------+-----+---------------+
|education|count|average_balance|
+---------+-----+---------------+
|secondary| 5461|       1,295.55|
| tertiary| 3680|       1,844.16|
|  primary| 1493|       1,527.36|
+---------+-----+---------------+


5. Contagem de IDs com e sem Crédito em Atraso:
+-------+-----+
|default|count|
+-------+-----+
|     no|10475|
|    yes|  159|
+-------+-----+


6. Contagem de IDs com Balance Negativo e Positivo:
+--------+-----+
| Balance|count|
+--------+-----+
|Negativo|  672|
|Positivo| 9962|
+--------+-----+


7. Contagem de IDs com Housing:
+-------+-----+
|housing|count|
+-------+-----+
|     no| 5530|
|    yes| 5104|
+-------+-----+


8. Contagem de IDs com Loan:
+----+-----+
|loan|count|
+----+-----+
|  no| 9202|
| yes| 1432|
+----+-----+


9. Contagem de IDs agrupados por Contact:
+-------------+-----+
|      contact|count|
+-------------+-----+
|     cellular| 7692|
|não informado| 2241|
|    telephone|  701|
+-------------+-----+


10. Distribuição de contatos por Dia do Mês:
+---+-----+
|day|count|
+---+-----+
| 20|  545|
| 18|  534|
|  5|  459|
| 30|  451|
| 15|  449|
| 14|  441|
| 13|  439|
| 21|  434|
| 12|  431|
|  6|  422|
| 17|  400|
|  8|  395|
| 28|  382|
|  4|  382|
| 29|  372|
| 19|  363|
|  7|  363|
| 11|  350|
| 16|  348|
|  9|  344|
+---+-----+
only showing top 20 rows


11. Distribuição de contatos por Mês:
+-----+-----+
|month|count|
+-----+-----+
|  may| 2706|
|  aug| 1457|
|  jul| 1430|
|  jun| 1167|
|  nov|  910|
|  apr|  874|
|  feb|  740|
|  oct|  362|
|  jan|  320|
|  sep|  297|
|  mar|  268|
|  dec|  103|
+-----+-----+


12. A média é: 371 segundos. Duração do contato (Abaixo/Acima da Média):
+---------------+-----+
|        Duração|count|
+---------------+-----+
| Acima da Média| 3660|
|Abaixo da Média| 6974|
+---------------+-----+


13. Distribuição de contatos feitos durante a Campanha:
+--------+-----+
|campaign|count|
+--------+-----+
|      28|    1|
|      27|    1|
|      26|    3|
|      12|   29|
|      22|    3|
|       1| 4568|
|      13|   28|
|       6|  256|
|      16|    8|
|       3| 1265|
|      20|    5|
|       5|  366|
|      19|    5|
|      41|    1|
|      15|   13|
|      43|    1|
|       9|   69|
|      17|   13|
|       4|  739|
|       8|  121|
+--------+-----+
only showing top 20 rows


14. Distribuição do Número de Dias desde o Último Contato:
+-----------------------------------------------------------+-----+
|CASE WHEN (pdays = 999) THEN Nunca contatado ELSE pdays END|count|
+-----------------------------------------------------------+-----+
|                                                        296|    4|
|                                                        125|    2|
|                                                        124|    3|
|                                                        475|    1|
|                                                        307|    3|
|                                                        334|    8|
|                                                        169|   11|
|                                                        205|    8|
|                                                        544|    1|
|                                                        272|   10|
|                                                        462|    2|
|                                                        470|    1|
|                                                        442|    1|
|                                                         -1| 7939|
|                                                        234|    2|
|                                                        282|    2|
|                                                        232|    2|
|                                                         15|    1|
|                                                        155|    2|
|                                                        154|    3|
+-----------------------------------------------------------+-----+
only showing top 20 rows


15. Distribuição do Número de Contatos Anteriores:
+--------+-----+
|previous|count|
+--------+-----+
|      28|    1|
|      26|    1|
|      27|    2|
|      12|   15|
|      22|    1|
|       1|  830|
|      13|   11|
|       6|  115|
|      16|    2|
|       3|  416|
|      20|    2|
|      40|    1|
|       5|  155|
|      19|    4|
|      41|    1|
|      15|    5|
|      37|    1|
|       9|   32|
|      17|   11|
|       4|  238|
+--------+-----+
only showing top 20 rows


16. Resultados da Campanha Anterior:
+-------------+-----+
|     poutcome|count|
+-------------+-----+
|      success| 1005|
|        other|  512|
|      failure| 1176|
|não informado| 7941|
+-------------+-----+


17. Aceitação da Oferta (Sim/Não):
+-------+-----+
|deposit|count|
+-------+-----+
|     no| 5613|
|    yes| 5021|
+-------+-----+

In [ ]:
# Filtrar os registros onde job é igual a "unknown"
unknown_job_df = df.filter(df.education == "unknown")

# Excluir as linhas onde job e education é igual a "unknown"
df = df.filter((df.job != "unknown") & (df.education != "unknown"))

# Substituir "unknown" por "não informado" nas colunas contact e poutcome
df = df.withColumn("contact", F.when(df.contact == "unknown", "não informado").otherwise(df.contact)) \
       .withColumn("poutcome", F.when(df.poutcome == "unknown", "não informado").otherwise(df.poutcome))

# Exibir o DataFrame resultante
df.show()

+---------+---+-----------+--------+---------+-------+-------+-------+----+-------------+---+-----+--------+--------+-----+--------+-------------+-------+
|client_id|age|        job| marital|education|default|balance|housing|loan|      contact|day|month|duration|campaign|pdays|previous|     poutcome|deposit|
+---------+---+-----------+--------+---------+-------+-------+-------+----+-------------+---+-----+--------+--------+-----+--------+-------------+-------+
|        0| 59|     admin.| married|secondary|     no|   2343|    yes|  no|não informado|  5|  may|    1042|       1|   -1|       0|não informado|    yes|
|        1| 56|     admin.| married|secondary|     no|     45|     no|  no|não informado|  5|  may|    1467|       1|   -1|       0|não informado|    yes|
|        2| 41| technician| married|secondary|     no|   1270|    yes|  no|não informado|  5|  may|    1389|       1|   -1|       0|não informado|    yes|
|        3| 55|   services| married|secondary|     no|   2476|    yes|  no|não informado|  5|  may|     579|       1|   -1|       0|não informado|    yes|
|        4| 54|     admin.| married| tertiary|     no|    184|     no|  no|não informado|  5|  may|     673|       2|   -1|       0|não informado|    yes|
|        5| 42| management|  single| tertiary|     no|      0|    yes| yes|não informado|  5|  may|     562|       2|   -1|       0|não informado|    yes|
|        6| 56| management| married| tertiary|     no|    830|    yes| yes|não informado|  6|  may|    1201|       1|   -1|       0|não informado|    yes|
|        7| 60|    retired|divorced|secondary|     no|    545|    yes|  no|não informado|  6|  may|    1030|       1|   -1|       0|não informado|    yes|
|        8| 37| technician| married|secondary|     no|      1|    yes|  no|não informado|  6|  may|     608|       1|   -1|       0|não informado|    yes|
|        9| 28|   services|  single|secondary|     no|   5090|    yes|  no|não informado|  6|  may|    1297|       3|   -1|       0|não informado|    yes|
|       10| 38|     admin.|  single|secondary|     no|    100|    yes|  no|não informado|  7|  may|     786|       1|   -1|       0|não informado|    yes|
|       11| 30|blue-collar| married|secondary|     no|    309|    yes|  no|não informado|  7|  may|    1574|       2|   -1|       0|não informado|    yes|
|       12| 29| management| married| tertiary|     no|    199|    yes| yes|não informado|  7|  may|    1689|       4|   -1|       0|não informado|    yes|
|       13| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|não informado|  7|  may|    1102|       2|   -1|       0|não informado|    yes|
|       14| 31| technician|  single| tertiary|     no|    703|    yes|  no|não informado|  8|  may|     943|       2|   -1|       0|não informado|    yes|
|       15| 35| management|divorced| tertiary|     no|   3837|    yes|  no|não informado|  8|  may|    1084|       1|   -1|       0|não informado|    yes|
|       16| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|não informado|  8|  may|     541|       3|   -1|       0|não informado|    yes|
|       17| 49|   services| married|secondary|     no|     -8|    yes|  no|não informado|  8|  may|    1119|       1|   -1|       0|não informado|    yes|
|       18| 41|     admin.| married|secondary|     no|     55|    yes|  no|não informado|  8|  may|    1120|       2|   -1|       0|não informado|    yes|
|       19| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|não informado|  8|  may|     513|       1|   -1|       0|não informado|    yes|
+---------+---+-----------+--------+---------+-------+-------+-------+----+-------------+---+-----+--------+--------+-----+--------+-------------+-------+
only showing top 20 rows