<a href="https://colab.research.google.com/github/KoreTane/MKTBank/blob/main/MKTBank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=1210a46b8a768987a9a1d52f21709ee763077a0e2b862eb001b520d3d2668d0a
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

# Exploratory Analysis

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import col, count, when
from pyspark.sql import functions as F
import matplotlib.pyplot as plt

spark = SparkSession.builder.appName("BankMarketing").getOrCreate()
df = spark.read.csv("bank.csv", header=True, inferSchema=True)
# Criar um ID único para cada cliente
df = df.withColumn("client_id", monotonically_increasing_id())

colunas = ['client_id'] + [col for col in df.columns if col != 'client_id']
df = df.select(colunas)

df.show(50)

df.printSchema()

df.summary().show()

+---------+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|client_id|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---------+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|        0| 59|      admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
|        1| 56|      admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
|        2| 41|  technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
|        3| 55|    services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
|        4| 54|      admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
|        5| 42|  management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
|        6| 56|  management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
|        7| 60|     retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
|        8| 37|  technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
|        9| 28|    services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
|       10| 38|      admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
|       11| 30| blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
|       12| 29|  management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
|       13| 46| blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
|       14| 31|  technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
|       15| 35|  management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
|       16| 32| blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
|       17| 49|    services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
|       18| 41|      admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
|       19| 49|      admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
|       20| 28|      admin.|divorced|secondary|     no|    785|    yes|  no|unknown|  8|  may|     442|       2|   -1|       0| unknown|    yes|
|       21| 43|  management|  single| tertiary|     no|   2067|    yes|  no|unknown|  8|  may|     756|       1|   -1|       0| unknown|    yes|
|       22| 43|  management|divorced| tertiary|     no|    388|    yes|  no|unknown|  8|  may|    2087|       2|   -1|       0| unknown|    yes|
|       23| 43| blue-collar| married|  primary|     no|   -192|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
|       24| 37|  unemployed|  single|secondary|     no|    381|    yes|  no|unknown|  8|  may|     985|       2|   -1|       0| unknown|    yes|
|       25| 35| blue-collar|  single|secondary|     no|     40|    yes|  no|unknown|  9|  may|     617|       4|   -1|       0| unknown|    yes|
|       26| 31|  technician|  single| tertiary|     no|     22|    yes|  no|unknown|  9|  may|     483|       3|   -1|       0| unknown|    yes|
|       27| 43| blue-collar|  single|secondary|     no|      3|    yes|  no|unknown|  9|  may|     929|       3|   -1|       0| unknown|    yes|
|       28| 31|      admin.| married|secondary|     no|    307|    yes|  no|unknown|  9|  may|     538|       1|   -1|       0| unknown|    yes|
|       29| 28| blue-collar|  single|secondary|     no|    759|    yes|  no|unknown|  9|  may|     710|       1|   -1|       0| unknown|    yes|
|       30| 32| blue-collar| married|secondary|    yes|     -1|    yes|  no|unknown|  9|  may|     653|       1|   -1|       0| unknown|    yes|
|       31| 60|  technician| married|  primary|     no|     65|    yes|  no|unknown|  9|  may|    1028|       2|   -1|       0| unknown|    yes|
|       32| 26| blue-collar|  single|secondary|     no|     82|    yes|  no|unknown|  9|  may|     654|       1|   -1|       0| unknown|    yes|
|       33| 40| blue-collar| married|secondary|     no|     10|    yes|  no|unknown|  9|  may|    1692|       2|   -1|       0| unknown|    yes|
|       34| 33| blue-collar|divorced|  primary|     no|    390|    yes|  no|unknown|  9|  may|     665|       2|   -1|       0| unknown|    yes|
|       35| 32|  management|  single| tertiary|     no|    311|     no|  no|unknown| 12|  may|     757|       2|   -1|       0| unknown|    yes|
|       36| 35| blue-collar| married|  primary|     no|    414|     no|  no|unknown| 13|  may|     504|       4|   -1|       0| unknown|    yes|
|       37| 33|  management|divorced|secondary|     no|      5|    yes|  no|unknown| 13|  may|    1346|       1|   -1|       0| unknown|    yes|
|       38| 38|  management| married| tertiary|     no|    119|    yes|  no|unknown| 13|  may|     568|       4|   -1|       0| unknown|    yes|
|       39| 23|entrepreneur|  single|  primary|     no|      4|    yes|  no|unknown| 13|  may|     395|       2|   -1|       0| unknown|    yes|
|       40| 60| blue-collar| married|  primary|     no|   1262|    yes| yes|unknown| 13|  may|    1015|       1|   -1|       0| unknown|    yes|
|       41| 48|  management| married| tertiary|     no|   1949|    yes|  no|unknown| 13|  may|     683|       2|   -1|       0| unknown|    yes|
|       42| 45|entrepreneur|divorced| tertiary|     no|   -395|    yes|  no|unknown| 13|  may|     470|       1|   -1|       0| unknown|    yes|
|       43| 36| blue-collar| married|secondary|     no|   1165|    yes|  no|unknown| 13|  may|    1001|       4|   -1|       0| unknown|    yes|
|       44| 52|  management| married|  unknown|     no|   2240|    yes|  no|unknown| 13|  may|     845|       1|   -1|       0| unknown|    yes|
|       45| 35| blue-collar|divorced|  primary|     no|    300|    yes|  no|unknown| 13|  may|     945|       2|   -1|       0| unknown|    yes|
|       46| 43|  technician| married|secondary|     no|   3285|    yes|  no|unknown| 13|  may|    1721|       2|   -1|       0| unknown|    yes|
|       47| 52|   housemaid| married|secondary|     no|   3923|    yes|  no|unknown| 14|  may|     942|       3|   -1|       0| unknown|    yes|
|       48| 53|  technician|divorced|  primary|     no|   1443|    yes|  no|unknown| 14|  may|     476|       1|   -1|       0| unknown|    yes|
|       49| 48| blue-collar|divorced|  primary|     no|     24|    yes|  no|unknown| 14|  may|     832|       1|   -1|       0| unknown|    yes|
+---------+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 50 rows

root
 |-- client_id: long (nullable = false)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

+-------+------------------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|summary|         client_id|               age|    job| marital|education|default|           balance|housing| loan| contact|               day|month|          duration|          campaign|             pdays|          previous|poutcome|deposit|
+-------+------------------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|  count|             11162|             11162|  11162|   11162|    11162|  11162|             11162|  11162|11162|   11162|             11162|11162|             11162|             11162|             11162|             11162|   11162|  11162|
|   mean|            5580.5|41.231947679627304|   NULL|    NULL|     NULL|   NULL|1528.5385235620856|   NULL| NULL|    NULL|15.658036194230425| NULL|371.99381831213043| 2.508421429851281| 51.33040673714388|0.8325568894463358|    NULL|   NULL|
| stddev|3222.3361866819546|11.913369192215518|   NULL|    NULL|     NULL|   NULL| 3225.413325946149|   NULL| NULL|    NULL| 8.420739541006462| NULL|347.12838571630687|2.7220771816614824|108.75828197197717| 2.292007218670508|    NULL|   NULL|
|    min|                 0|                18| admin.|divorced|  primary|     no|             -6847|     no|   no|cellular|                 1|  apr|                 2|                 1|                -1|                 0| failure|     no|
|    25%|              2790|                32|   NULL|    NULL|     NULL|   NULL|               122|   NULL| NULL|    NULL|                 8| NULL|               138|                 1|                -1|                 0|    NULL|   NULL|
|    50%|              5579|                39|   NULL|    NULL|     NULL|   NULL|               550|   NULL| NULL|    NULL|                15| NULL|               255|                 2|                -1|                 0|    NULL|   NULL|
|    75%|              8370|                49|   NULL|    NULL|     NULL|   NULL|              1708|   NULL| NULL|    NULL|                22| NULL|               496|                 3|                20|                 1|    NULL|   NULL|
|    max|             11161|                95|unknown|  single|  unknown|    yes|             81204|    yes|  yes| unknown|                31|  sep|              3881|                63|               854|                58| unknown|    yes|
+-------+------------------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+

In [4]:
# Criar um ID único para cada cliente
df = df.withColumn("client_id", monotonically_increasing_id())

df.show(5)

+---------+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|client_id|age|       job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---------+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|        0| 59|    admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
|        1| 56|    admin.|married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
|        2| 41|technician|married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
|        3| 55|  services|married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
|        4| 54|    admin.|married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
+---------+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 5 rows

In [5]:
total_count = df.count()

distinct_count = df.distinct().count()

# Verificar se há duplicatas
if total_count > distinct_count:
    print("Existem dados duplicados no DataFrame.")
else:
    print("Não existem dados duplicados no DataFrame.")

Não existem dados duplicados no DataFrame.

In [22]:
# Análises Simples
# 1. age: Contar quantas IDs têm mais de 80 anos
age_above_80 = df.filter(df.age > 80).count()

# 2. Contando IDs agrupados por job e calculando a média do balance
job_count = df.groupBy("job") \
               .agg(
                   F.count("*").alias("count"),  # Contagem de IDs
                   F.format_number(F.avg("balance"), 2).alias("average_balance")  # Média do balance formatada
               ) \
               .sort(F.col("count").desc())

# 3. marital: Contar IDs agrupados por estado civil
marital_count = df.groupBy("marital").count().sort(col("count").desc())

# 4. Contando IDs agrupados por nível de escolaridade e calculando a média do balance
education_count = df.groupBy("education") \
                     .agg(
                         F.count("*").alias("count"),  # Contagem de IDs
                         F.format_number(F.avg("balance"), 2).alias("average_balance")  # Média do balance formatada
                     ) \
                     .sort(F.col("count").desc())

# 5. default: Contar IDs com e sem crédito em atraso
default_count = df.groupBy("default").count()

# 6. balance: Contar quantas IDs estão com balance negativo e positivo
balance_count = df.groupBy(F.when(df.balance < 0, "Negativo").otherwise("Positivo").alias("Balance")).count()

# 7. housing: Contar quantos IDs possuem housing e quantos não
housing_count = df.groupBy("housing").count()

# 8. loan: Contar quantos IDs possuem loan e quantos não
loan_count = df.groupBy("loan").count()

# 9. contact: Contagem do número de IDs agrupada por contact
contact_count = df.groupBy("contact").count()

# 10. day: Contar a distribuição de contatos por dia do mês
day_count = df.groupBy("day").count().sort(col("count").desc())

# 11. month: Contar a distribuição de contatos por mês
month_count = df.groupBy("month").count().sort(col("count").desc())

# 12. duration: Contar quantas IDs têm duração de contato acima e abaixo da média
average_duration = df.select(F.avg("duration")).first()[0]
duration_count = df.groupBy(F.when(df.duration < average_duration, "Abaixo da Média").otherwise("Acima da Média").alias("Duração")).count()

# 13. campaign: Distribuição de contatos feitos durante a campanha
campaign_count = df.groupBy("campaign").count()

# 14. pdays: Distribuição do número de dias desde o último contato (999 significa que nunca foi contatado)
pdays_count = df.groupBy(F.when(df.pdays == 999, "Nunca contatado").otherwise(df.pdays)).count()

# 15. previous: Distribuição do número de contatos anteriores
previous_count = df.groupBy("previous").count()

# 16. poutcome: Contar resultados da campanha anterior
poutcome_count = df.groupBy("poutcome").count()

# 17. deposit: Contagem de aceitação da oferta (sim/não)
deposit_count = df.groupBy("deposit").count()

# Exibindo os resultados em uma matriz

print("Análise Completa de Clientes:")

print(f"\n1. IDs com mais de 80 anos: {age_above_80}")

print("\n2. Contagem de IDs agrupados por Job:")
job_count.show()

print("\n3. Contagem de IDs agrupados por Estado Civil:")
marital_count.show()

print("\n4. Contagem de IDs agrupados por Nível de Escolaridade:")
education_count.show()

print("\n5. Contagem de IDs com e sem Crédito em Atraso:")
default_count.show()

print("\n6. Contagem de IDs com Balance Negativo e Positivo:")
balance_count.show()

print("\n7. Contagem de IDs com Housing:")
housing_count.show()

print("\n8. Contagem de IDs com Loan:")
loan_count.show()

print("\n9. Contagem de IDs agrupados por Contact:")
contact_count.show()

print("\n10. Distribuição de contatos por Dia do Mês:")
day_count.show()

print("\n11. Distribuição de contatos por Mês:")
month_count.show()

print("\n12. Duração do contato (Abaixo/Acima da Média):")
duration_count.show()

print("\n13. Distribuição de contatos feitos durante a Campanha:")
campaign_count.show()

print("\n14. Distribuição do Número de Dias desde o Último Contato:")
pdays_count.show()

print("\n15. Distribuição do Número de Contatos Anteriores:")
previous_count.show()

print("\n16. Resultados da Campanha Anterior:")
poutcome_count.show()

print("\n17. Aceitação da Oferta (Sim/Não):")
deposit_count.show()

Análise Completa de Clientes:

1. IDs com mais de 80 anos: 55

2. Contagem de IDs agrupados por Job:
+-------------+-----+---------------+
|          job|count|average_balance|
+-------------+-----+---------------+
|   management| 2566|       1,793.66|
|  blue-collar| 1944|       1,203.93|
|   technician| 1823|       1,556.29|
|       admin.| 1334|       1,195.87|
|     services|  923|       1,081.17|
|      retired|  778|       2,417.25|
|self-employed|  405|       1,865.37|
|      student|  360|       1,500.78|
|   unemployed|  357|       1,314.72|
| entrepreneur|  328|       1,621.94|
|    housemaid|  274|       1,366.16|
|      unknown|   70|       1,945.46|
+-------------+-----+---------------+


3. Contagem de IDs agrupados por Estado Civil:
+--------+-----+
| marital|count|
+--------+-----+
| married| 6351|
|  single| 3518|
|divorced| 1293|
+--------+-----+


4. Contagem de IDs agrupados por Nível de Escolaridade:
+---------+-----+---------------+
|education|count|average_balance|
+---------+-----+---------------+
|secondary| 5476|       1,296.48|
| tertiary| 3689|       1,845.87|
|  primary| 1500|       1,523.03|
|  unknown|  497|       1,746.61|
+---------+-----+---------------+


5. Contagem de IDs com e sem Crédito em Atraso:
+-------+-----+
|default|count|
+-------+-----+
|     no|10994|
|    yes|  168|
+-------+-----+


6. Contagem de IDs com Balance Negativo e Positivo:
+--------+-----+
| Balance|count|
+--------+-----+
|Negativo|  688|
|Positivo|10474|
+--------+-----+


7. Contagem de IDs com Housing:
+-------+-----+
|housing|count|
+-------+-----+
|     no| 5881|
|    yes| 5281|
+-------+-----+


8. Contagem de IDs com Loan:
+----+-----+
|loan|count|
+----+-----+
|  no| 9702|
| yes| 1460|
+----+-----+


9. Contagem de IDs agrupados por Contact:
+---------+-----+
|  contact|count|
+---------+-----+
|  unknown| 2346|
| cellular| 8042|
|telephone|  774|
+---------+-----+


10. Distribuição de contatos por Dia do Mês:
+---+-----+
|day|count|
+---+-----+
| 20|  570|
| 18|  548|
| 30|  478|
|  5|  477|
| 15|  466|
| 14|  463|
| 13|  453|
| 21|  452|
|  6|  447|
| 12|  445|
|  8|  419|
| 17|  411|
| 28|  410|
|  4|  402|
| 29|  388|
| 19|  384|
|  7|  382|
| 11|  373|
| 16|  369|
|  9|  364|
+---+-----+
only showing top 20 rows


11. Distribuição de contatos por Mês:
+-----+-----+
|month|count|
+-----+-----+
|  may| 2824|
|  aug| 1519|
|  jul| 1514|
|  jun| 1222|
|  nov|  943|
|  apr|  923|
|  feb|  776|
|  oct|  392|
|  jan|  344|
|  sep|  319|
|  mar|  276|
|  dec|  110|
+-----+-----+


12. Duração do contato (Abaixo/Acima da Média):
+---------------+-----+
|        Duração|count|
+---------------+-----+
| Acima da Média| 3845|
|Abaixo da Média| 7317|
+---------------+-----+


13. Distribuição de contatos feitos durante a Campanha:
+--------+-----+
|campaign|count|
+--------+-----+
|      31|    1|
|      28|    1|
|      27|    1|
|      26|    3|
|      12|   29|
|      22|    4|
|       1| 4798|
|      13|   30|
|       6|  265|
|      16|    9|
|       3| 1321|
|      20|    5|
|       5|  378|
|      19|    5|
|      41|    1|
|      15|   13|
|      43|    2|
|       9|   72|
|      17|   14|
|       4|  771|
+--------+-----+
only showing top 20 rows


14. Distribuição do Número de Dias desde o Último Contato:
+-----------------------------------------------------------+-----+
|CASE WHEN (pdays = 999) THEN Nunca contatado ELSE pdays END|count|
+-----------------------------------------------------------+-----+
|                                                        296|    4|
|                                                        125|    2|
|                                                        124|    3|
|                                                        307|    5|
|                                                        475|    1|
|                                                        334|    8|
|                                                        169|   11|
|                                                        205|    8|
|                                                        544|    1|
|                                                        272|   10|
|                                                        462|    2|
|                                                        470|    1|
|                                                        442|    1|
|                                                         -1| 8324|
|                                                        234|    2|
|                                                        282|    2|
|                                                        232|    2|
|                                                         15|    1|
|                                                        155|    2|
|                                                        154|    4|
+-----------------------------------------------------------+-----+
only showing top 20 rows


15. Distribuição do Número de Contatos Anteriores:
+--------+-----+
|previous|count|
+--------+-----+
|      28|    1|
|      26|    1|
|      27|    2|
|      12|   16|
|      22|    1|
|       1|  887|
|      13|   11|
|       6|  117|
|      16|    2|
|       3|  435|
|      20|    2|
|      40|    1|
|       5|  165|
|      19|    4|
|      41|    1|
|      15|    5|
|      37|    1|
|       9|   34|
|      17|   11|
|       4|  244|
+--------+-----+
only showing top 20 rows


16. Resultados da Campanha Anterior:
+--------+-----+
|poutcome|count|
+--------+-----+
| success| 1071|
| unknown| 8326|
|   other|  537|
| failure| 1228|
+--------+-----+


17. Aceitação da Oferta (Sim/Não):
+-------+-----+
|deposit|count|
+-------+-----+
|     no| 5873|
|    yes| 5289|
+-------+-----+

In [15]:
# Filtrar os registros onde job é igual a "unknown"
unknown_job_df = df.filter(df.job == "unknown")

# Exibir os resultados
unknown_job_df.show(80)

+---------+---+-------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
|client_id|age|    job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---------+---+-------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
|       66| 49|unknown| married|  primary|     no|    341|    yes| yes|  unknown| 15|  may|     520|       2|   -1|       0| unknown|    yes|
|      668| 52|unknown| married|  unknown|     no|   5361|     no|  no| cellular|  5|  aug|     607|       3|   -1|       0| unknown|    yes|
|      861| 60|unknown| married|  unknown|     no|  17297|     no|  no| cellular| 26|  aug|     664|      11|   -1|       0| unknown|    yes|
|     1075| 31|unknown| married|secondary|     no|    111|     no|  no| cellular| 21|  nov|     504|       2|   93|       2| failure|    yes|
|     1091| 34|unknown|  single|secondary|     no|    859|     no|  no| cellular| 28|  jan|     829|       1|   -1|       0| unknown|    yes|
|     1092| 28|unknown|  single|secondary|     no|   4465|     no|  no| cellular| 28|  jan|     769|       1|   -1|       0| unknown|    yes|
|     1309| 37|unknown|  single| tertiary|     no|      0|     no|  no| cellular|  3|  mar|     426|       1|   -1|       0| unknown|    yes|
|     1401| 58|unknown| married|  unknown|     no|     68|     no|  no| cellular|  2|  apr|     268|       1|   -1|       0| unknown|    yes|
|     1548| 50|unknown| married|  primary|     no|    341|    yes| yes| cellular| 20|  apr|     670|       4|  340|       2| success|    yes|
|     1592| 45|unknown|divorced|  unknown|     no|      0|     no|  no| cellular| 21|  apr|     278|       3|   -1|       0| unknown|    yes|
|     1598| 41|unknown|  single|  unknown|     no|    942|     no|  no| cellular| 22|  apr|     219|       1|   -1|       0| unknown|    yes|
|     1674| 47|unknown| married|  unknown|     no|    677|     no|  no| cellular| 30|  apr|     900|       2|   86|       2| failure|    yes|
|     2440| 65|unknown| married|  unknown|     no|   4717|     no|  no|telephone|  6|  aug|     256|       1|   -1|       0| unknown|    yes|
|     2677| 38|unknown|  single| tertiary|     no|      0|     no|  no| cellular| 11|  sep|     260|       3|   95|       3| success|    yes|
|     2736| 54|unknown| married|  unknown|     no|    895|     no|  no| cellular|  7|  oct|     335|       1|   -1|       0| unknown|    yes|
|     2826| 41|unknown|  single|  unknown|     no|    942|     no|  no| cellular| 27|  oct|     143|       1|  188|       1| success|    yes|
|     2832| 53|unknown| married|  primary|     no|    732|     no|  no| cellular| 27|  oct|     759|       2|   -1|       0| unknown|    yes|
|     2921| 54|unknown| married|secondary|     no|   2206|     no|  no| cellular| 12|  nov|     104|       1|   99|       2|   other|    yes|
|     3102| 42|unknown|  single|  unknown|     no|    942|     no|  no| cellular| 27|  jan|     245|       1|   92|       2| success|    yes|
|     3192| 54|unknown| married|secondary|     no|   2206|     no|  no| cellular| 11|  feb|     449|       1|   91|       3| success|    yes|
|     3253| 27|unknown|  single|  unknown|     no|    326|     no|  no| cellular| 22|  feb|     326|       1|   -1|       0| unknown|    yes|
|     3500| 77|unknown| married|  unknown|     no|    397|     no|  no|telephone|  7|  may|     300|       3|   -1|       0| unknown|    yes|
|     3511| 54|unknown| married|secondary|     no|   2206|     no|  no| cellular| 13|  may|     260|       1|   91|       4| success|    yes|
|     3695| 50|unknown| married|  unknown|     no|    558|     no|  no| cellular|  9|  jul|     464|       1|  683|       6| failure|    yes|
|     3883| 55|unknown| married|secondary|     no|   2206|     no|  no| cellular| 12|  aug|     265|       1|   91|       5| success|    yes|
|     3913| 48|unknown|  single|  unknown|     no|   1819|     no|  no| cellular|  2|  sep|    1440|       1|  458|       1| failure|    yes|
|     4033| 28|unknown|  single|  unknown|     no|    326|     no|  no| cellular| 11|  oct|     450|       1|  231|       1| success|    yes|
|     4181| 27|unknown|  single|secondary|     no|   1187|     no|  no|telephone| 26|  feb|     232|       1|  101|       1| failure|    yes|
|     4270| 45|unknown| married| tertiary|     no|    406|     no|  no| cellular|  7|  sep|     314|       1|   -1|       0| unknown|    yes|
|     4298| 58|unknown| married|  unknown|     no|   1547|     no|  no|telephone|  5|  aug|    1186|       4|   -1|       0| unknown|    yes|
|     4515| 33|unknown| married|secondary|     no|    335|     no|  no| cellular|  4|  feb|     891|       2|  177|       7| failure|    yes|
|     4618| 37|unknown|  single| tertiary|     no|      0|     no|  no| cellular|  8|  jun|     257|       2|   97|       1| success|    yes|
|     4781| 78|unknown| married|  unknown|     no|   2235|     no|  no|telephone| 14|  apr|     300|       3|   -1|       0| unknown|    yes|
|     4993| 57|unknown| married|  unknown|     no|  19268|     no|  no|  unknown| 23|  oct|     301|       1|   -1|       0| unknown|    yes|
|     5312| 67|unknown| married| tertiary|     no|   7687|     no|  no|telephone| 30|  oct|      70|       3|   -1|       0| unknown|     no|
|     5348| 53|unknown| married|  unknown|     no|    549|     no|  no|telephone| 28|  jan|      74|       2|   -1|       0| unknown|     no|
|     5400| 55|unknown| married|secondary|     no|   1157|     no|  no| cellular| 12|  jul|     289|       1|  412|       2| failure|     no|
|     5487| 43|unknown| married|  unknown|     no|   1517|     no|  no|  unknown| 20|  jun|      45|       1|   -1|       0| unknown|     no|
|     5688| 47|unknown| married|  unknown|     no|   1880|     no|  no|  unknown| 18|  jun|      64|       2|   -1|       0| unknown|     no|
|     5698| 35|unknown| married|  primary|     no|    634|     no|  no| cellular|  7|  jul|     185|       2|   -1|       0| unknown|     no|
|     5805| 42|unknown| married|  unknown|     no|    222|     no|  no| cellular| 26|  aug|      80|      16|   -1|       0| unknown|     no|
|     5834| 41|unknown| married|  unknown|     no|    779|     no|  no| cellular| 30|  jul|     647|      10|   -1|       0| unknown|     no|
|     6338| 29|unknown|  single|secondary|     no|    923|     no|  no| cellular| 26|  may|     333|       1|   -1|       0| unknown|     no|
|     6363| 59|unknown| married|  unknown|     no|   1541|     no|  no| cellular|  5|  aug|     790|       1|   -1|       0| unknown|     no|
|     6709| 47|unknown| married|  unknown|     no|    194|     no|  no| cellular|  4|  aug|     108|       1|   -1|       0| unknown|     no|
|     6985| 59|unknown| married|  unknown|     no|   2443|     no|  no|  unknown| 20|  jun|       8|       8|   -1|       0| unknown|     no|
|     7074| 42|unknown|  single|  unknown|    yes|     61|     no|  no|  unknown| 20|  jun|     115|       1|   -1|       0| unknown|     no|
|     7290| 45|unknown| married|  unknown|     no|    356|     no|  no| cellular| 11|  aug|     212|       2|   -1|       0| unknown|     no|
|     7328| 45|unknown| married|  unknown|     no|   2834|     no|  no| cellular|  4|  aug|     112|       1|   -1|       0| unknown|     no|
|     7650| 31|unknown| married|secondary|     no|      3|     no|  no| cellular| 20|  jul|      91|       2|   -1|       0| unknown|     no|
|     7894| 43|unknown| married|  primary|     no|   2113|     no|  no| cellular| 29|  jul|      33|       2|   -1|       0| unknown|     no|
|     7999| 26|unknown|  single|secondary|     no|   3247|     no|  no|telephone|  6|  feb|     341|       3|   -1|       0| unknown|     no|
|     8027| 41|unknown|  single| tertiary|     no|   1567|     no|  no| cellular|  1|  jul|     291|       2|   -1|       0| unknown|     no|
|     8373| 59|unknown|divorced|  unknown|     no|     27|     no|  no|  unknown|  5|  may|     347|       3|   -1|       0| unknown|     no|
|     8483| 48|unknown| married|  unknown|     no|      3|     no|  no| cellular| 19|  aug|     104|       2|   -1|       0| unknown|     no|
|     8685| 45|unknown| married|  primary|     no|     44|     no|  no|  unknown| 11|  jun|      81|       1|   -1|       0| unknown|     no|
|     8885| 48|unknown| married|  unknown|     no|    558|     no|  no| cellular| 25|  aug|     433|       6|   -1|       0| unknown|     no|
|     8966| 46|unknown| married|  unknown|     no|   2911|     no|  no|telephone|  7|  jul|      41|       9|   -1|       0| unknown|     no|
|     9220| 31|unknown| married| tertiary|     no|    526|     no|  no| cellular| 26|  aug|     130|      13|   -1|       0| unknown|     no|
|     9276| 39|unknown|  single|  unknown|     no|      0|     no|  no|telephone| 28|  jan|      28|       1|   -1|       0| unknown|     no|
|     9283| 46|unknown| married| tertiary|     no|   8564|     no|  no| cellular|  2|  aug|     397|       2|  342|       1| failure|     no|
|     9499| 53|unknown| married|  unknown|     no|      0|     no|  no| cellular| 25|  aug|     209|       5|   -1|       0| unknown|     no|
|     9659| 58|unknown| married| tertiary|     no|   4150|     no|  no|  unknown|  6|  jun|     363|       1|   -1|       0| unknown|     no|
|     9664| 30|unknown|  single|  unknown|     no|   6929|     no|  no| cellular| 19|  nov|     341|       1|   -1|       0| unknown|     no|
|     9706| 59|unknown|  single|secondary|     no|   3237|     no|  no|  unknown|  6|  jun|     100|       3|   -1|       0| unknown|     no|
|     9845| 36|unknown| married|secondary|     no|    179|     no|  no| cellular|  8|  aug|      14|       8|   -1|       0| unknown|     no|
|     9976| 43|unknown| married|  primary|     no|      0|    yes|  no| cellular|  9|  jul|     132|       1|   -1|       0| unknown|     no|
|    10570| 77|unknown| married|  unknown|     no|    397|     no|  no|telephone|  8|  nov|     207|       1|  185|       3| success|     no|
|    10660| 54|unknown| married|  unknown|     no|    390|     no|  no| cellular| 20|  aug|      68|       5|   -1|       0| unknown|     no|
|    10805| 51|unknown| married|  unknown|     no|   2642|     no|  no| cellular| 29|  jul|      52|       6|   -1|       0| unknown|     no|
+---------+---+-------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+